.newsletter {
    padding: 16px 0;
    background-color: gold;
}

.newsletter-container, .newsletter-text, .newsletter-text-logo {
    display: flex;
    align-items: center;
}

.newsletter-logo {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 282px;
    padding: 0 15px;
}

.fa-paper-plane {
    font-size: 30px;
}

.newsletter-logo h2 {
    font-size: 20px;
    margin: 0 0 0 16px;
    font-weight: 400;
    white-space: nowrap;
}

.newsletter-text h5 {
    font-size: 15px;
    margin: 0 0 0 39px;
}

.newsletter-input-group {
    max-width: 565px;
}

.newsletter-input-btn {
    display: flex;
    width: 100%;
}

.newsletter-input {
    width: 100%;
    height: 41px;
    border: none;
    padding-left: 20px;
    border-top-left-radius: 6.1875rem;
    border-bottom-left-radius: 6.1875rem;
}

.newsletter-btn {
    width: 135px !important;
    background-color: darkslategrey;
    border: none;
    color: #fff;
    border-top-right-radius: 6.1875rem;
    border-bottom-right-radius: 6.1875rem;
}

.newsletter-btn:hover {
    -webkit-box-shadow: 3px 3px 13px -1px rgba(0,0,0,0.33);
    -moz-box-shadow: 3px 3px 13px -1px rgba(0,0,0,0.33);
    box-shadow: 3px 3px 13px -1px rgba(110, 110, 110, 0.33);
}

.informations-container {
    padding: 56px 0 24px;
    display: flex;
}

.informations-left-block {
    width: 596px;
}

.footer-logo {
    font-size: 14px;
    margin-bottom: 40px;
}

.contact {
    display: flex;
    height: 56px;
    align-items: center;
    margin-bottom: 24px;
}

.contact-logo {
    font-size: 50px;
    color: gold;
}

.contact-info {
    padding-left: 16px;
}

.call-us {
    font-size: 13px;
}

.phonenumbers {
    font-size: 20px;
}

.address h6 {
    font-weight: bold;
}

.address address {
    font-size: 14px;
    margin: 0;
}

.other-links {
    padding: 24px 0;
}

.links-list {
    display: flex;
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: grey;
    border-radius: 50%;
    transition: ease-in-out, 0.2s;
}

.links-list li:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: grey;
    border-radius: 50%;
}

.links-list li i {
    font-size: 20px;
}

.page-navigations {
    display: flex;
}

.page-navigation {
    width: 278px;
    padding: 0 15px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-navigation h6 {
    margin-bottom: 16px;
    font-weight: bold;
}

/*.page-navigation ul {*/
/*    padding: 0;*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.page-navigation li {
    list-style-type: none;
    font-size: 14px;
    margin: 5px 0;
    padding: 0;

}

.footer-bottom {
    background-color: #efeeee;
    padding: 8px 0;
}

.footer-bottom-content {
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 14px;
}

.payment-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 224px;
    height: 100%;
}

.payment-card {
    width: 42px;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
}

.payment-card img {
    width: 32px;
}