<div class="wrapper">
    <div class="recommend-card-row row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="recommend-card-container col col-md-6 col-xl-3 col-sm-12">
            <a class="recommend-card-link">
                <div class="recommend-card-item">
                    <div class="recommend-card-block">
                        <img class="recommend-card-img" src="../../images/recom_img1.png">
                    </div>
                    <div class="recommend-card-title">
                        <div class="recommend-card-text">
                            CATCH BIG
                            <strong>
                                DEALS
                            </strong>
                            ON THE CAMERAS
                        </div>
                        <div class="recommend-card-btn">
                            Shop now
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="recommend-card-container col col-md-6 col-xl-3 col-sm-12">
            <a class="recommend-card-link">
                <div class="recommend-card-item">
                    <div class="recommend-card-block">
                        <img class="recommend-card-img" src="../../images/recom_img2.png">
                    </div>
                    <div class="recommend-card-title">
                        <div class="recommend-card-text">
                            CATCH BIG
                            <strong>
                                DEALS
                            </strong>
                            ON THE CAMERAS
                        </div>
                        <div class="recommend-card-btn">
                            Shop now
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="recommend-card-container col col-md-6 col-xl-3 col-sm-12">
            <a class="recommend-card-link">
                <div class="recommend-card-item">
                    <div class="recommend-card-block">
                        <img class="recommend-card-img" src="../../images/recom_img3.png">
                    </div>
                    <div class="recommend-card-title">
                        <div class="recommend-card-text">
                            CATCH BIG
                            <strong>
                                DEALS
                            </strong>
                            ON THE CAMERAS
                        </div>
                        <div class="recommend-card-btn">
                            Shop now
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="recommend-card-container col col-md-6 col-xl-3 col-sm-12">
            <a class="recommend-card-link">
                <div class="recommend-card-item">
                    <div class="recommend-card-block">
                        <img class="recommend-card-img" src="../../images/recom_img4.png">
                    </div>
                    <div class="recommend-card-title">
                        <div class="recommend-card-text">
                            CATCH BIG
                            <strong>
                                DEALS
                            </strong>
                            ON THE CAMERAS
                        </div>
                        <div class="recommend-card-btn">
                            Shop now
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>