<div class="wrapper">
    <div class="mini-carousel">
<!--        <div class="mini-arrow">-->
<!--            <a><i class="fa-solid fa-angle-left"></i></a>-->
<!--        </div>-->
        <div class="mini-carousel-content">
            <i id="left" class="fa-solid fa-angle-left mini"></i>
            <ul class="carousels">
                <li class="cardo">
                    <div class="mini-carousel-item">
                        <a>
                            <img src="../../images/pet1.png">
                        </a>
                    </div>
                </li>
                <li class="cardo">
                    <div class="mini-carousel-item">
                        <a>
                            <img src="../../images/pet2.png">
                        </a>
                    </div>
                </li>
                <li class="cardo">
                    <div class="mini-carousel-item">
                        <a>
                            <img src="../../images/pet3.png">
                        </a>
                    </div>
                </li>
                <li class="cardo">
                    <div class="mini-carousel-item">
                        <a>
                            <img src="../../images/pet4.png">
                        </a>
                    </div>
                </li>
                <li class="cardo">
                    <div class="mini-carousel-item">
                        <a>
                            <img src="../../images/pet5.png">
                        </a>
                    </div>
                </li>
                <li class="cardo">
                    <div class="mini-carousel-item">
                        <a>
                            <img src="../../images/pet6.png">
                        </a>
                    </div>
                </li>
            </ul>
            <i id="right" class="fa-solid fa-angle-right mini"></i>
        </div>
        <script src="../../js/miniCarousel.js"></script>
    </div>
</div>