.footer-cards, .left-block {
    display: flex;
}

.left-block-container, .right-block {
    max-width: 357px;
    height: 438px;
    margin: 30px 0;
    padding: 0 15px;
}

.footer-card-title-line {
    font-size: 18px;
    border-bottom: 1px grey solid;
    padding-bottom: 15px;
}

.footer-card-title-line:after {
    content: '';
    border-bottom: 2px solid gold;
    display: block;
    position: absolute;
    width: 120px;
    transform: translateY(-50%);
    padding-top: 30px;
}

.left-block-content-items {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

.left-block-content-item {
    display: flex;
    margin-bottom: 40px;
}

.left-block-content-item h5 {
    font-size: 14px;
    font-weight: bold;
    color: #0871CA;
    margin: 0;
}

.left-block-content-info {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-block-content-price {
    font-size: 15px;
}

.left-block-content-price ins {
    text-decoration: none;
}

.left-block-content-price del {
    color: #7c7b7b;
    font-size: 12px;
}

.star-ratting {
    margin-bottom: 8px;
    color: gold;
}