<div class="wrapper">
    <div class="footer-cards">
        <div class="left-block row">
            <div class="featured-products left-block-container col-xl-3 col-md-4">
                <div class="left-block-content">
                    <div class="left-block-content-title">
                        <h3 class="footer-card-title-line">Featured Products</h3>
                    </div>
                    <ul class="left-block-content-items">
                        <li class="left-block-content-item">
                            <div>
                                <a>
                                    <img src="../../images/mini8.jpg">
                                </a>
                            </div>
                            <div class="left-block-content-info">
                                <a><h5>Purple Wireless Headphones Solo 2 HD</h5></a>
                                <div class="left-block-content-price">$1149.00</div>
                            </div>
                        </li>
                        <li class="left-block-content-item">
                            <div>
                                <a>
                                    <img src="../../images/mini5.jpg">
                                </a>
                            </div>
                            <div class="left-block-content-info">
                                <a><h5>Powerbank 1130 mAh Blue</h5></a>
                                <div class="left-block-content-price">$210.00</div>
                            </div>
                        </li>
                        <li class="left-block-content-item">
                            <div>
                                <a>
                                    <img src="../../images/mini2.jpg">
                                </a>
                            </div>
                            <div class="left-block-content-info">
                                <a><h5>Nerocool EN52377 Dead Silence Gaming Cube Case</h5></a>
                                <div class="left-block-content-price">$180.00</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="onsale-products left-block-container col-xl-3 col-md-4">
                <div class="left-block-content">
                    <div class="left-block-content-title">
                        <h3 class="footer-card-title-line">Onsale Products</h3>
                    </div>
                    <ul class="left-block-content-items">
                        <li class="left-block-content-item">
                            <div>
                                <a>
                                    <img src="../../images/mini1.jpg">
                                </a>
                            </div>
                            <div class="left-block-content-info">
                                <a><h5>Yellow Earphones Waterproof with Bluetooth</h5></a>
                                <div class="left-block-content-price">
                                    <ins>$110.00</ins>
                                    <del>$250.00</del>
                                </div>
                            </div>
                        </li>
                        <li class="left-block-content-item">
                            <div>
                                <a>
                                    <img src="../../images/mini3.jpg">
                                </a>
                            </div>
                            <div class="left-block-content-info">
                                <a><h5>Camera C430W 4k Waterproof</h5></a>
                                <div class="left-block-content-price">
                                    <ins>$899.00</ins>
                                    <del>$1200.00</del>
                                </div>
                            </div>
                        </li>
                        <li class="left-block-content-item">
                            <div>
                                <a>
                                    <img src="../../images/mini7.jpg">
                                </a>
                            </div>
                            <div class="left-block-content-info">
                                <a><h5>Smartphone 6S 32GB LTE</h5></a>
                                <div class="left-block-content-price">
                                    <ins>$2100.00</ins>
                                    <del>$3299.00</del>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top-rated-products left-block-container col-xl-3 col-md-4">
                <div class="left-block-content">
                    <div class="left-block-content-title">
                        <h3 class="footer-card-title-line">Top Rated Products</h3>
                    </div>
                    <ul class="left-block-content-items">
                        <li class="left-block-content-item">
                            <div>
                                <a>
                                    <img src="../../images/mini9.jpg">
                                </a>
                            </div>
                            <div>

                            </div>
                            <div class="left-block-content-info">
                                <h5>
                                    <a>Smartwatch 2.0 LTE Wifi Waterproof</a>
                                    <div class="star-ratting">
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                    </div>
                                </h5>
                                <div class="left-block-content-price">$725.00</div>
                            </div>
                        </li>
                        <li class="left-block-content-item">
                            <div>
                                <a>
                                    <img src="../../images/mini4.jpg">
                                </a>
                            </div>
                            <div>

                            </div>
                            <div class="left-block-content-info">
                                <h5>
                                    <a>22Mps Camera 6200U with 500GB SDcard</a>
                                    <div class="star-ratting">
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-regular fa-star"></small>
                                    </div>
                                </h5>
                                <div class="left-block-content-price">$2999.00</div>
                            </div>
                        </li>
                        <li class="left-block-content-item">
                            <div>
                                <a>
                                    <img src="../../images/mini6.jpg">
                                </a>
                            </div>
                            <div>

                            </div>
                            <div class="left-block-content-info">
                                <h5>
                                    <a>Full Color LaserJet Pro M452dn</a>
                                    <div class="star-ratting">
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-solid fa-star"></small>
                                        <small class="fa-regular fa-star"></small>
                                    </div>
                                </h5>
                                <div class="left-block-content-price">$439.00</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-block col-3">
                <a><img src="../../images/smartg3.jpg"></a>
            </div>
        </div>
    </div>
</div>